{{page-title 'Base64 Generator'}}

<h2 class='fw-bold fs-c text-light'>Base64 Parser</h2>
<form>
  <div class="mb-3">
    <label for="exampleInputEmail1"><h4>Base64 String</h4></label>
    <textarea type="textarea" class="form-control"></textarea>
    <div id="emailHelp" class="form-text text-light">Example: 'SGVsbG8h' returns 'Hello!'</div>
  </div>
  <button type="submit" class="btn btn-secondary mx-auto shadow-lg">Submit</button>
</form>
{{outlet}}