{{page-title "Support"}}

<div class="fs-2 fw-bold" style="color: #16637d">Support</div>
<SupportItems />
<hr class="mt-4">
<div>
  <p class="fs-4">
    Bug Reporting
  </p>
  <div class="ps-3">
    In the event that you find a bug or would like a feature to be added, reach out to Francisco Salinas via e-mail.
    Thank you in advance for your contribution.
  </div>
</div>
{{outlet}}