{{page-title "Support"}}

<div style="text-align: center;">
<h2>Support</h2>
<div>
    <h3>Unigen Tutorials</h3>
    <ul>
    {{#each this.list as |list|}}
    <li>Test
      {{list.content}}
    </li>
  {{/each}}
    </ul>
</div>
</div>
{{outlet}}