{{page-title 'Support'}}

<h2 class='fw-bold fs-c text-light'>Support</h2>
<SupportItems />
<hr class='mt-4' />
<div>
  <h4>
    Bug Reporting
  </h4>
  <div class='ps-3'>
    In the event that you find a bug or would like a feature to be added, reach
    out to Francisco Salinas via
    <a
      class='rounded-pill px-2 link-light'
      href='mailto:remixielive@live.com'
    >email.</a><br /><br /><span class="fst-italic">
    Thank you in advance for your contribution!</span>
  </div>
</div>
{{outlet}}